site_name: GroovyScript

repo_name: CleanroomMC/GroovyScript-Docs
repo_url: https://github.com/CleanroomMC/GroovyScript-Docs

nav:
    - Introduction:
          - index.md
          - Getting Started: getting_started.md
    - 'Groovy':
        - 'Introduction': 'groovy/introduction.md'
        - 'Strings': 'groovy/strings.md'
        - 'Lists': 'groovy/lists.md'
        - 'Maps': 'groovy/maps.md'
        - 'Loops': 'groovy/loops.md'
        - 'Builders': 'groovy/builder.md'
    - 'GroovyScript':
        - 'Mods':
            - 'EnderIO':
                - 'Alloy Smelter': 'groovyscript/mods/enderio/alloy_smelter.md'
                - 'SAG Mill': 'groovyscript/mods/enderio/sag_mill.md'
                - 'Soul Binder':  'groovyscript/mods/enderio/soul_binder.md'
                - "Slice'n'Splice": 'groovyscript/mods/enderio/slice_n_splice.md'
                - 'Combustion Generator': 'groovyscript/mods/enderio/combustion_gen.md'
                - 'Enchanter': 'groovyscript/mods/enderio/enchanter.md'
                - 'Vat': 'groovyscript/mods/enderio/vat.md'
                - 'Tank': 'groovyscript/mods/enderio/tank.md'
            - GregTech:
                - Recipes: groovyscript/mods/gtceu/recipes.md
                - Materials: groovyscript/mods/gtceu/material.md
                - Heating Coils: groovyscript/mods/gtceu/heating_coils.md
                - Terminal: groovyscript/mods/gtceu/terminal.md
            - 'Mekanism':
                - 'Crusher': 'groovyscript/mods/mekanism/crusher.md'
            - 'Thermal Expansion':
                - 'Pulverizer': 'groovyscript/mods/thermal/pulverizer.md'
            - Thaumcraft:
                - Arcane Workbench: groovyscript\mods\thaumcraft\ArcaneWorkbench.md
                - Aspects: groovyscript\mods\thaumcraft\Aspects.md
                - Crucible: groovyscript\mods\thaumcraft\Crucible.md
                - Dust Trigger: groovyscript\mods\thaumcraft\DustTrigger.md
                - Infusion: groovyscript\mods\thaumcraft\Infusion.md
                - Loot Bag: groovyscript\mods\thaumcraft\Lootbag.md
                - Research: groovyscript\mods\thaumcraft\Research.md
                - Warp: groovyscript\mods\thaumcraft\Warp.md
        - 'Minecraft':
              - 'Crafting': 'groovyscript/minecraft/crafting.md'
              - 'Crafting with Builders': 'groovyscript/minecraft/crafting_builders.md'
              - 'Furnace': 'groovyscript/minecraft/furnace.md'
              - Events: groovyscript/minecraft/events.md

theme:
    name: material
    palette:
        - scheme: slate
          accent: blue
          toggle:
            icon: material/brightness-4
            name: Switch to light mode
        - scheme: default
          toggle:
            icon: material/brightness-7
            name: Switch to dark mode

    features:
        - content.code.annotate
        - navigation.tracking
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.top
        - toc.integrate

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.tasklist:
        custom_checkbox: true
    - attr_list
    - def_list
    - md_in_html
    - toc

extra_css:
  - stylesheets/extra.css
